Source: sidux-binary-gfx
Section: contrib/x11
Priority: extra
Maintainer: Andreas Weber <andreas@it-weber.com>
Build-Depends: cdbs, debhelper (>= 5), dpatch
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-binary-gfx/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-binary-gfx/trunk/

Package: sidux-binary-gfx
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, hwinfo 
Description: build and install nvidia/ati kernel modules
 This package will help user to create and install nvidia/ati binary drivers
 and take care about xorg configuration.
